<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'main' %>
  <%= javascript_include_tag 'admin' %>
</head>
<body>

<%= yield %>

</body>
</html>
